@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}


.btn {
  padding         : 5px 15px;
  cursor          : pointer;
  background-color: whitesmoke;
}

#addLine:hover {
  background-color: orange;
  color           : black;

}

#disableLine:hover {
  background-color: tomato;
  color           : black;
}

.toolBar {
  position        : fixed;
  top             : 0px;
  left            : 0;
  right           : 0;
  height          : 50px;
  padding         : 0 10px;
  background-color: gray;
  display         : flex;
  align-items     : center;
  gap             : 10px;
}
